
    body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background: #c1d9ff;
      color: #333;
      line-height: 1.6;
      font-size : medium;
    }

    .nav{
        background:#c1d9ff;
        color: black;
        text-align: right;
        padding-right: 30px;
        font-size: x-small;
    }
    .welcome{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        font-size: large;
    }

    .common{
        background-color: rgb(67, 67, 171);
        color: rgb(81, 209, 209);
        text-align: center;
        font-size: xx-large;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
       }

    .front{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
    
    .rules{
        padding-left: 50px;
        padding-top: 45px;
        text-align: center;
    }

    .list{
        flex: 1;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    
    .imag{
        margin: 1.5rem auto;
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tableauPlaceholder{
        width: 700px;
    
    }

    .header {
      background: #7583fd;
      color: white;
      padding: 2rem;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }

    .a{
        text-align: center;
    }
  